@using Task_1.DTO
@model List<OrderDTO>
@{
    ViewData["Title"] = "orders";
}
<h3 class="text-center">Sipariş Bilgileri</h3>
<table class="table table-bordered table-striped">
    <tr>
        <th>Sipariş No</th>
        <th>Sipariş Tarihi</th>
  @*      <th>Müşteri Adı</th>
        <th>Çalışan Adı</th>
        <th>Sipariş Toplamı</th>*@
    </tr>

    @foreach (OrderDTO item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.OrderDate</td>
@*            <td>@item.CustomerId</td>
            <td>@item.EmployeeId</td>
            <td>null</td>*@
        </tr>
    }

</table>